@model BoolRequiredModel
<h3 class="text-center">Bool Required</h3>
<div>
    <form asp-action="BoolRequired" asp-controller="VariableValidation">
        <input asp-for="Check"/>
        <label asp-for="Check" class="form-label"></label><br />
        <span asp-validation-for="Check" class="text-danger"></span>
        <input type="submit" value="Submit" class="btn btn-success mt-2 w-100"/>
    </form>
</div>