@model MaxDateModel
<h3 class="text-center">Max Date</h3>
<div>
    <form asp-action="MaxDate" asp-controller="DateTimeValidation">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" class="form-control"/>
        <span asp-validation-for="Date" class="text-danger"></span>
        <input type="submit" value="Submit" class="btn btn-success mt-2 w-100"/>
    </form>
</div>
<code>For this Sample 2023/2/13</code>