<div class="text-center">
    <h1 class="display-4">Welcome To Atrob</h1>
</div>
<div class="border rounded-2 p-3 border-primary mt-2">
    <h2>File Validations</h2>
    <a asp-controller="FileValidation" asp-action="Required" class="btn btn-primary mt-2">Required</a>
    <a asp-controller="FileValidation" asp-action="FileNotEmpty" class="btn btn-primary mt-2">File Not Empty</a>
    <a asp-controller="FileValidation" asp-action="MaxFileSize" class="btn btn-primary mt-2">Max File Size</a>
    <a asp-controller="FileValidation" asp-action="MinFileSize" class="btn btn-primary mt-2">Min File Size</a>
    <a asp-controller="FileValidation" asp-action="MaxAndMinFileSize" class="btn btn-primary mt-2">Max And Min File Size</a>
    <a asp-controller="FileValidation" asp-action="AllowedFileExtensions" class="btn btn-primary mt-2">Allowed File Extensions</a>
    <a asp-controller="FileValidation" asp-action="NotAllowedFileExtensions" class="btn btn-primary mt-2">Not Allowed File Extensions</a>
</div>
<div class="border rounded-2 p-3 border-warning mt-2">
    <h2>Collection Validations</h2>
    <a asp-controller="CollectionValidation" asp-action="CollectionCountItems" class="btn btn-warning mt-2">Collection Count Items</a>
    <a asp-controller="CollectionValidation" asp-action="CollectionMaxItems" class="btn btn-warning mt-2">Collection Max Items</a>
    <a asp-controller="CollectionValidation" asp-action="CollectionMinItems" class="btn btn-warning mt-2">Collection Min Items</a>
    <a asp-controller="CollectionValidation" asp-action="CollectionMaxAndMinItems" class="btn btn-warning mt-2">Collection Max And Min Items</a>
</div>
<div class="border rounded-2 p-3 border-success mt-2">
    <h2>Variable Validations</h2>
    <a asp-controller="VariableValidation" asp-action="BoolRequired" class="btn btn-success mt-2">Boll Validation</a>
</div>
<div class="border rounded-2 p-3 border-danger mt-2">
    <h2>Math Validations</h2>
    <a asp-controller="MathValidation" asp-action="Divisibility" class="btn btn-danger mt-2">Divisibility</a>
</div>
<div class="border rounded-2 p-3 border-info mt-2">
    <h2>DateTime Validations</h2>
    <a asp-controller="DateTimeValidation" asp-action="MaxDateTime" class="btn btn-info mt-2">Max DateTime</a>
    <a asp-controller="DateTimeValidation" asp-action="MinDateTime" class="btn btn-info mt-2">Min DateTime</a>   
    <a asp-controller="DateTimeValidation" asp-action="MaxDate" class="btn btn-info mt-2">Max Date</a>
    <a asp-controller="DateTimeValidation" asp-action="MinDate" class="btn btn-info mt-2">Min Date</a>
    <a asp-controller="DateTimeValidation" asp-action="MaxTime" class="btn btn-info mt-2">Max Time</a>
</div>

