@model NotAllowedFileExtensionsModel
<h3 class="text-center">Not Allowed File Extensions</h3>
<div>
    <form asp-action="NotAllowedFileExtensions" asp-controller="FileValidation" enctype="multipart/form-data">
        <label asp-for="File" class="form-label"></label>
        <input asp-for="File" class="form-control"/>
        <span asp-validation-for="File" class="text-danger"></span>
        <input type="submit" value="Submit" class="btn btn-primary mt-2 w-100"/>
    </form>
</div>
<code>For this Sample gif and pdf</code>