<div class="bg-success p-2 rounded-3 text-center">
    <h1>Success</h1>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a>
    <a class="btn btn-warning" onclick="history.back()">Back</a>
</div>